body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e8d8f0;
}

.login-box{
    background-color:white;
    width:360px;
    margin:80px auto;
    padding:35px;
    border:1px solid #ccc;
}

.logo{
    width:180px;
    display:block;
    margin:0 auto 20px auto;
}

h2{
    margin-bottom:5px;
}

p{
    font-size:13px;
    color:#666;
    margin-bottom:20px;
}

form{
    text-align:left;
}

label{
    font-size:14px;
}

input[type="email"],
input[type="text"],
input[type="password"]{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #f3b4c7;
    background-color:#fff7fa;
}

.opsi{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    font-size:13px;
}

.ingat{
    margin-right:10px;
}

.lupa{
    text-decoration:none;
    color:#6a8fdc;
}

button{
    width:100%;
    padding:12px;
    background-color:#ff9ac2;
    color:white;
    border:1px solid #ccc;
}