*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#2b0d0d;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
padding:30px;
}

.card{
background:#4a0f0f;
padding:35px;
border-radius:20px;
width:340px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,0.6);
}

.profile{
width:95px;
height:95px;
border-radius:50%;
border:4px solid white;
margin-bottom:12px;
object-fit:cover;
}

.card h1{
margin-top:10px;
margin-bottom:6px;
color:white;
font-size:28px;
}

.bio{
font-size:14px;
color:#f1f1f1;
margin-bottom:22px;
}

.btn{
display:block;
background:linear-gradient(135deg,#ff4b4b,#d32f2f);
padding:13px;
margin:10px 0;
border-radius:10px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.25s;
}

.connect{
background:#ff2e2e;
}

.btn:hover{
transform:scale(1.05);
}

.video-box{
margin-top:30px;
background:#000;
padding:18px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.video-box h2{
font-size:18px;
margin-bottom:15px;
color:white;
}

.video-thumb{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
margin-bottom:15px;
}

.watch-btn{
display:block;
background:#ff0000;
padding:10px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.2s;
}

.watch-btn:hover{
background:#cc0000;
}

.text1{
font-size:13px;
margin-top:15px;
color:#f0f0f0;
}

.text2{
font-size:12px;
color:#ddd;
}